/* INITIAL */
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

/* VARIABLE */
:root {
  --background: #000000;
}

body {
  background: var(--background);
}

html,
body {
  scroll-behavior: smooth;
}

html {
  color-scheme: dark;
}

/* global.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
